fastapi
fastapi_azure_auth
pydantic-settings
uvicorn
python-dotenv
pandas
langchain 
langchain-community
langchain_openai
pymongo
openai
tiktoken
cryptography
spacy

#--locally required modules (uncomment before creating envrionment for the prupose of using jupter notenbook or something else)---
#jupyter
#openpyxl
#requests