fastapi
pydantic-settings
uvicorn
python-dotenv
pandas

langchain 
langchain-community
langchain_openai
pymongo
openai
tiktoken

#--locally required modules (uncomment before creating envrionment for the prupose of using jupter notenbook or something else)---
#jupyter
#openpyxl
#requests